<div class="card-block">
    <form action="" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4 ">
                <label for="sn">Serial Number</label>
                <input type="file" id="sn" name="sn" class="form-control">
            </div>
            <div class="form-group col-md-4 ">
                <label for="uiw">UIW/UID</label>
                <select name="uiw" id="uiw" class="form-control">
                    <option value="">DISBANTEN</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="area">Area</label>
                <select name="area" id="area" class="form-control">
                    <option value="">CIKOKOL</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="no_klaim">Nomor Klaim</label>
                <input id="no_klaim" name="no_klaim" type="text" class="form-control" placeholder="Masukan Nomor Klaim" required>
            </div>
            <div class="form-group col-md-4">
                <label for="no_surat">Nomor Surat</label>
                <input type="text" name="no_surat" class="form-control" placeholder="Masukan Nomor Surat" required>
            </div>
            <div class="form-group col-md-4">
                <label for="tgl_klaim">Tanggal Klaim</label>
                <input type="date" name="tgl_klaim" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="type">Tipe Produk</label>
                <select name="type" id="type" class="form-control" >
                    <option value="">CSI11</option>
                    <option value="">CSI12</option>
                    <option value="">CSI21</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-info waves-effect waves-light m-r-30">Save</button>
        <button type="reset" class="btn btn-warning waves-effect waves-light m-r-30">Clear</button>
    </form>
</div>
