<aside class="main-sidebar hidden-print ">
    <section class="sidebar" id="sidebar-scroll">
        <!-- Sidebar Menu-->
        <ul class="sidebar-menu">
            <li class="nav-level">--- Navigation</li>
            <li class="active treeview">
                <a class="waves-effect waves-dark" href="/admin/dashboard">
                    <i class="icon-speedometer"></i><span> Dashboard</span>
                </a>                
            </li>
            <li class="nav-level"></li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="#!"><i class="icon-diamond"></i>
                    <span> Pengiriman </span>
                    <i class="icon-arrow-down"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="waves-effect waves-dark" href="/admin/pengiriman"><i class="icon-arrow-right"></i> Data Pengiriman</a></li>
                    <li><a class="waves-effect waves-dark" href="/admin/datapengiriman"><i class="icon-arrow-right"></i> Report Pengiriman</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/admin/garansi">
                    <i class="fas fa-book-medical"></i><span>  Warranty Check </span>
                </a>                
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="#!"><i class="fas fa-reply"></i>
                    <span>Klaim Garansi</span><i class="icon-arrow-down"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="waves-effect waves-dark" href="/admin/klaim"><i class="icon-arrow-right"></i> Data Klaim</a></li>
                    <li><a class="waves-effect waves-dark" href="/admin/dataklaim"><i class="icon-arrow-right"></i> Report Klaim</a></li>
                    <li><a class="waves-effect waves-dark" href="/admin/document"><i class="icon-arrow-right"></i> Dokumen Klaim</a></li>
                </ul>
            </li> 
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/admin/analisa">
                    <i class="fas fa-brain"></i><span>  Analysis </span>
                </a>                
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="#!"><i class="fas fa-location-arrow"></i>
                    <span>Penggantian</span>
                    <i class="icon-arrow-down"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="waves-effect waves-dark" href="/admin/penggantian"><i class="icon-arrow-right"></i> Data Penggantian</a></li>
                    <li><a class="waves-effect waves-dark" href="/admin/datapenggantian"><i class="icon-arrow-right"></i> Report Penggantian</a></li>
                </ul>
            </li>
            <li class="nav-level">--- Report AFS</li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/admin/report">
                    <i class="icon-list"></i><span> Data Report AFS</span>
                </a>                
            </li>
            <li class="nav-level">--- Featured AFS</li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/admin/ceksn">
                    <i class="fas fa-globe-asia"></i><span> Check SN</span>
                </a>                
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/admin/searchsn">
                    <i class="fab fa-searchengin"></i><span> Search SN</span>
                </a>                
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="#!"><i class="icofont icofont-company"></i>
                    <span>Data Master</span><i class="icon-arrow-down"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a class="waves-effect waves-dark" href="/admin/users">
                            <i class="icon-arrow-right"></i>
                            Users
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="/admin/product">
                            <i class="icon-arrow-right"></i>
                            Product
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="/admin/consumers">
                            <i class="icon-arrow-right"></i>
                            Consumers
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="/admin/fis">
                            <i class="icon-arrow-right"></i>
                            Data FIS
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>