<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading"> Admin Dashboards</li>
            <li>
                <a href="/admin/dashboard" class="mm-active">
                    <i class="metismenu-icon pe-7s-rocket"></i>
                    Dashboard
                </a>
            </li>
            <li class="app-sidebar__heading">Menu</li>
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-diamond"></i>
                    Pengiriman
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="/admin/pegiriman">
                            <i class="metismenu-icon"></i>
                            Data Pengiriman
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-back"></i>
                    Klaim Garansi
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="/admin/klaim">
                            <i class="metismenu-icon"></i>
                            Data Klaim
                        </a>
                    </li>
                    <li>
                        <a href="/admin/document">
                            <i class="metismenu-icon"></i>
                            Data Document
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/garansi">
                    <i class="metismenu-icon pe-7s-way">
                    </i>Warranty Check
                </a>
            </li>
            <li>
                <a href="/admin/analis">
                    <i class="metismenu-icon pe-7s-light">
                    </i>Analysis
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-paper-plane"></i>
                    Penggantian
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="/admin/penggantian">
                            <i class="metismenu-icon"></i>
                            Data Penggantian
                        </a>
                    </li>
                </ul>
            </li>
            <li class="app-sidebar__heading">Report AFS</li>
            <li>
                <a href="/admin/report">
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Data Report
                </a>
            </li>
            <li class="app-sidebar__heading">Featured</li>
            <li>
                <a href="/admin/ceksn">
                    <i class="metismenu-icon pe-7s-global">
                    </i>Check SN
                </a>
            </li>
            <li>
                <a href="/admin/searchsn">
                    <i class="metismenu-icon pe-7s-search">
                    </i>Search SN
                </a>
            </li>
            <li class="app-sidebar__heading">Settings</li>
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-server"></i>
                    Data Master
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="/admin/users">
                            <i class="metismenu-icon"></i>
                            Users
                        </a>
                    </li>
                    <li>
                        <a href="/admin/product">
                            <i class="metismenu-icon"></i>
                            Product
                        </a>
                    </li>
                    <li>
                        <a href="/admin/consumers">
                            <i class="metismenu-icon"></i>
                            Consumers
                        </a>
                    </li>
                    <li>
                        <a href="/admin/fis">
                            <i class="metismenu-icon"></i>
                            Data FIS
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>