<div class="tab-pane tabs-animation fade show active" >
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Masukan Serial Number</h5>
                    <form class="" action="" >
                        <div class="form-row">
                            <div class="col-md-6 mb-2">
                                <input type="text" class="form-control" id="searchSN" placeholder="Enter Serial Number" required>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Data Pengiriman</h5>
                    <form class="">
                        <div class="position-relative form-group">
                            <label for="sn" class="">Serial Number</label>
                            <input name="sn" id="sn" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="nobox" class="">Nomor Box</label>
                            <input name="nobox" id="nobox" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="do" class="">Nomor DO</label>
                            <input name="do" id="do" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="spb" class="">Nomor SPB</label>
                            <input name="spb" id="spb" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="tglkirim" class="">Tanggal Kirim</label>
                            <input name="tglkirim" id="tglkirim" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="garansi" class="">Garansi</label>
                            <input name="garansi" id="garansi" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="uiw" class="">UIW</label>
                            <input name="uiw" id="uiw" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="area" class="">Area</label>
                            <input name="area" id="area" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="tipe" class="">Tipe</label>
                            <input name="tipe" id="tipe" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="qty" class="">Quantity</label>
                            <input name="qty" id="qty" type="text"class="form-control" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Data Klaim Garansi</h5>
                    <form class="">
                        <div class="position-relative form-group">
                            <label for="sn" class="">Serial Number</label>
                            <input name="sn" id="sn" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="uiw" class="">UIW</label>
                            <input name="uiw" id="uiw" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="area" class="">Area</label>
                            <input name="area" id="area" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="noklaim" class="">Nomor Klaim</label>
                            <input name="noklaim" id="noklaim" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="nosurat" class="">Nomor Surat</label>
                            <input name="nosurat" id="nosurat" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="status" class="">Status</label>
                            <input name="status" id="status" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="produksi" class="">Produksi</label>
                            <input name="produksi" id="produksi" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="tipe" class="">Tipe</label>
                            <input name="tipe" id="tipe" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="qty" class="">Quantity</label>
                            <input name="qty" id="qty" type="text"class="form-control" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Data Penggantian</h5>
                    <form class="">
                        <div class="position-relative form-group">
                            <label for="snpengganti" class="">Serial Number Pengganti</label>
                            <input name="snpengganti" id="snpengganti" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="snklaim" class="">Serial Number Klaim</label>
                            <input name="snklaim" id="snklaim" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="nobox" class="">Nomor Box</label>
                            <input name="nobox" id="nobox" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="noklaim" class="">Nomor Klaim</label>
                            <input name="noklaim" id="noklaim" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="spb" class="">Nomor SPB</label>
                            <input name="spb" id="spb" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="uiw" class="">UIW</label>
                            <input name="uiw" id="uiw" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="area" class="">Area</label>
                            <input name="area" id="area" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="tglkirim" class="">Tanggal Kirim</label>
                            <input name="tglkirim" id="tglkirim" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="garansi" class="">Garansi</label>
                            <input name="garansi" id="garansi" type="text"class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="tipe" class="">Tipe</label>
                            <input name="tipe" id="tipe" type="text" class="form-control" readonly>
                        </div>
                        <div class="position-relative form-group">
                            <label for="qty" class="">Quantity</label>
                            <input name="qty" id="qty" type="text"class="form-control" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>