<div class="main-card mb-3 card">
    <div class="card-body">
        <div>
            <form>
                <div class="form-group">
                    <label for="area">Area / UP3</label>
                    <input type="email" class="form-control" id="area" aria-describedby="Masukan Area " required>
                </div>
                <div class="form-group">
                    <label for="uiw">UIW/UID</label>
                    <select name="uiw" id="uiw" class="form-control">
                        <option selected>Choose.. </option>
                        <option>Disbanten</option>
                        <option>Disjaya</option>
                        <option>Disjabar</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="col-lg-12">
        <div class="card-body">
            <h5 class="card-title">Data Area</h5>
            <table class="mb-0 table table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Unit Pelaksana</th>
                        <th>Unit Wilayah</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Cikokol</td>
                        <td>Banten</td>
                        <td>
                            <a href="#"class="btn btn-warning btn-circle btn-sm button-update">
                                <i class="fas fa-edit"></i> </a>
                            <button type="submit" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>