<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#formPengiriman">
            <span>Data Pengiriman</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#reportPengiriman">
            <span>Report Pengiriman</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="formPengiriman" role="tabpanel">
        <%- include('formPengiriman.ejs') %>
    </div>
    <div class="tab-pane tabs-animation fade" id="reportPengiriman" role="tabpanel">
        <%- include('tabelReport.ejs') %>
    </div>
</div>