    <table class="table table-bordered" id="dataTable" width="100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Price</th>
          <th>Country</th>
          <th>City</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
      </tbody>
    </table>