<div class="col-sm-12 table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
            <th>#</th>
            <th>SPB</th>
            <th>UIW</th>
            <th>Area</th>
            <th>Qty</th>
            <th>Type Product</th>
            <th>Tanggal Pengiriman</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Ducky</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Ducky</td>
            <td>
                <a href="#" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                <a href="#" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                <a href="#" class="btn btn-warning btn-sm"><i class="fas fa-download"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>