<!-- Button trigger modal -->
<div class="modal fade" id="edit-users" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Users</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="/admin/users?_method=PUT" method="POST">
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input name="fullname" type="text" class="form-control fullname" required>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control password" required>
            </div>
            <div class="form-group">
                <label for="position">Jabatan</label>
                <input name="position" type="text" class="form-control position" required>
            </div>
            <div class="form-group">
                <label for="level">Level</label>
                <select name="level" name="level" id="level" class="form-control level">
                    <option selected>Choose..</option>
                    <option value="1"> 1 Administrator</option>
                    <option value="2"> 2 Staff</option>
                    <option value="3"> 3 Operator</option>
                    <option value="4"> 4 Analys</option>
                </select>
            </div>
            <input type="hidden" class="form-control id" name="id" id="id">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>