<form action="/admin/product" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="fullname">Nama Lengkap</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter Nama Lengkap" required>
        </div>
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username Kamu" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Masukan Password" required>
        </div>
        <div class="form-group col-md-4">
            <label for="position">Position</label>
            <input type="text" class="form-control" id="position" name="position" placeholder="Jabatan Kamu" required>
        </div>
        <div class="form-group col-md-4">
            <label for="level">Level</label>
            <select id="level" class="form-control" name="level">
              <option selected>Choose...</option>
              <option value="1"> 1 Administrator</option>
              <option value="2"> 2 Staff</option>
              <option value="3"> 3 Operator</option>
              <option value="4"> 4 Analisys</option>
            </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-warning">Clear</button>
</form>