<div class="modal fade" id="edit-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/product?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name_product">Nama Produk</label>
                <input type="text" name="name_product" class="form-control name_product">
            </div>
            <div class="form-group">
                <label for="type_product">Tipe Produk</label>
                <input type="text" name="type_product" class="form-control type_product">
            </div>
            <div class="form-group">
                <label for="spec_product">Spesifikasi Produk</label>
                <textarea type="text" name="spec_product" class="form-control spec_product"></textarea>
            </div>
            <div class="form-group">
                <label for="desc_product">Deskripsi Produk</label>
                <textarea type="text" name="desc_product" class="form-control desc_product"></textarea>
            </div>
            <input type="hidden" name="id" class="form-control id">
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>