<form action="/admin/product" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name_product">Nama Produk</label>
            <input type="text" class="form-control" id="name_product" name="name_product" placeholder="Enter Nama Produk" required>
        </div>
        <div class="form-group col-md-6">
            <label for="type_product">Tipe Produk</label>
            <input type="text" class="form-control" id="type_product" name="type_product" placeholder="Enter Tipe Produk" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="spec_product">Spesifikasi Produk</label>
            <textarea type="text" class="form-control" id="spec_product" name="spec_product"> </textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="desc_product">Deskripsi Produk</label>
            <textarea type="text" class="form-control" id="desc_product" name="desc_product"> </textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-warning">Clear</button>
</form>