<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title"> Add Product</h5>
                <form class="">
                    <div class="position-relative row form-group">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input name="name" id="name" placeholder="Name Product" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="spesification" class="col-sm-2 col-form-label">Spesification</label>
                        <div class="col-sm-10">
                            <textarea name="spesification" id="spesification" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea name="description" id="description" class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="mt-2 btn btn-primary">Save</button>
                    <button type="reset" class="mt-2 btn btn-warning">Clear</button>
                </form>
            </div>
        </div>
    </div>
</div>